
#adicionar {
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
  background-color: transparent;
  position: absolute;
  margin-top: 8px;
}

#adicionar:hover {
  transform: rotate(90deg);

}


.finalizar {
  background-color: transparent;
  border: none;
  padding: 6px 10px 6px 10px;
  color: #36bb72;
  cursor: pointer;
  transition: 0.3s;
}

.finalizar:hover {
  background-color: #41a16c;
  color: #ffff;
}

.excluir {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fc4b15;
  cursor: pointer;
  padding: 6px 10px 6px 10px;
  margin-left: 5px;
}

.excluir:hover {
  background-color: #f44336;
  color: white;
}

#titulo {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  line-height: 32px;
}

.lista-tarefas {
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 20px;
  background-color: #f3f3f3;
}

#tarefa {
  margin-bottom: 10px;
  background-color: #fafafa;
  border: 1.5px solid rgb(145, 145, 145);
  border-radius: 5px;
  min-height: 40px;
  width: 85%;
  padding-left: 5%;
}

h2 {
  color: #333;
  font-size: 23pt;
  text-decoration: underline;
  text-align: center;
}



ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e4e4e4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

li:hover {
  background-color: #d4d4d4;
  color: #333;
  transition: 0.3s ease;
}